<h2 id='title'>Welcome to Ember.js</h2>

<ul>
	<li>{{#link-to 'index'}}Home{{/link-to}}</li>
	<li>{{#link-to 'categories'}}Categories{{/link-to}}</li>	
	<li>{{#link-to 'products'}}products{{/link-to}}</li>
</ul>

{{outlet}}
